body {
    background-color: white;
    width: 100vw;
}
/* Nav Bar Start*/
#nav-bar {
    background-color: rgb(44, 44, 44);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    font-family: Staatliches, monospace;
    display: flex;
    justify-content: space-between;
}

#logo {
    color: white;
    font-size: 24px;
    letter-spacing: 3px;
}

#nav-left {
    width: 25%;
    margin-left: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#nav-mid {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-link {
    color: white;
}

#nav-right {
    width: 25%;
    margin-right: 2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#linkedin-div {
    margin-right: 4%;
}

#mail-div {
    margin-left: 4%;
}

.icon-color {
    color: white !important;
}

.button-enlarge:hover {
    transform: scale(1.2);
}
/* Nav Bar End */

/* Greeting Start */
#greeting {
    width: 100%;
    margin-top: 70px;
    margin-left: -8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80);

}
#intro {
    color: rgb(48, 208, 143);
}
#greeting-buttons {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
/* Greeting End */

.header-text {
    font-family: Staatliches, monospace;
}
/* About Me Start */
/* About Me End */

/* Projects Start */
/* Projects End */

/* Contact Start */
/* Contact End */

/* Footer */
#footer {
    background-color: rgb(44, 44, 44);
}

#footer-link {
    color: white;
    font-family: Staatliches, monospace;
    display: flex;
    justify-content: center;
}