body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
/* Nav Bar Start*/
#nav-bar {
    background-color: rgb(44, 44, 44);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    font-family: Staatliches, monospace;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

#logo {
    color: white;
    font-size: 24px;
    letter-spacing: 3px;
}
#lovebird {
    max-width: 32px;
    height: auto;
}

#nav-left {
    width: 25%;
    margin-left: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#nav-mid {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-link {
    color: white;
}

#nav-right {
    width: 25%;
    margin-right: 2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#linkedin-div {
    margin-right: 4%;
}

#mail-div {
    margin-left: 4%;
}

.icon-color {
    color: white !important;
}

.button-enlarge:hover {
    transform: scale(1.2);
}
/* Nav Bar End */

/* Greeting Start */
#greeting-div {
    width: 100vw;
    height: 90vh;
    margin-top: 70px;
    display: flex;
    justify-content: center;    
    align-items: center;
    background: linear-gradient(rgba(0,0,1,.7), rgba(0,0,1,.4)), url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80);
    background-repeat: no-repeat;
    background-size: 100vw auto;
    background-position: 50% 20%;
}

#intro {
    width: 100%;
    color: rgb(48, 208, 143);
    font-size: 90px;
    margin-left: 15%;
    margin-right: 2%;
    margin-top: 10%;
    margin-bottom: 10%;
}
#greeting-buttons {
    margin-left: 2%;
    margin-right: 15%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.greeting-btn-style {
    background-color: rgba(0,0,0,0);
    border-color: rgb(48, 208, 143);
    border-width: 5px;
    border-radius: 10px;
    border-style: solid;
    padding: 8px 15px 8px 15px;
    font-size: 30px;
    font-family: Staatliches, monospace;
    text-align: center;
    color: rgb(48, 208, 143);
}
.greeting-change:hover {
    animation-name: button-background;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
@keyframes button-background {
    100% {
        background-color: rgb(48, 208, 143);
        color: black;
    }
}
/* Greeting End */

.header-text {
    font-family: Staatliches, monospace;
    font-size: 50px;
    position: relative;
    top: -45px;
    left: 15px;
}

/* About Me Start */
#about-container {
    margin-left: -8px;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 5%;
    padding-bottom: 3%;
    background-color: #C5C6C7;
}
#about-div {
    background-color: #C5C6C7;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.about-text {
    position: relative;
    top: -70px;
    width: 90%;
    font-size: 24px;
    font-family: Poppins, monospace;
    margin-left: 4%;
}
/* About Me End */

/* Projects Start */
#projects-container {
    margin-left: -8px;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 5%;
    padding-bottom: 3%;
    background-color: rgb(116, 116, 116);
}
#projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    text-align: center;
}
/* Projects End */

/* Contact Start */
#contact-container {
    margin-left: -8px;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 5%;
    background-color: rgb(12, 18, 27);
}
#contact-title {
    color: white;
}
#contact-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form-desc {
    position: relative;
    top: -80px;
    color: white;
    font-family: Poppins, monospace;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
}
form {
    position: relative;
    padding: 10px;
    top: -70px;
    min-width: 40%;
    background-color: #C5C6C7;
    font-family: Poppins, monospace;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#form-entries {
    margin: 3%;
}
.form-struct {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.form-box {
    border: 2px solid;
    border-radius: 3px;
    font-size: 18px;
    font-family: Poppins, monospace;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.message-box {
    border: 2px solid;
    border-radius: 3px;
    font-family: Poppins, monospace;
    font-size: 18px;
    padding-bottom: 50px;
    text-align: center;
    margin-bottom: 15px;
}
#submit-btn {
    font-size: 18px;
    font-family: Poppins, monospace;
    border: 2px solid;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(48, 208, 143);
    cursor: pointer;
}
.submit-enlarge:hover {
    transform: scale(1.04);
}
#email-me {
    position: relative;
    top: -10px;
    margin-bottom: 10px;
}
/* Contact End */

/* Footer */
#footer {
    position: relative;
    padding-left: 8px;
    bottom: 0px;
    padding: 1px;
    padding-right: 3px;
    background-color: rgb(44, 44, 44);
}

#footer-link {
    color: white !important;
    font-family: Staatliches, monospace;
    display: flex;
    justify-content: center;
    text-align: center;
}